.destaques{
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: calc(100vh - 50px);
    
}

.caixa{
    display: flex;
    align-items: flex-end;
    
}
.destaques__titulo{
    display: flex;
    justify-content: center;
    color: #efefef;
    background: rgba(0, 0, 0, .5);
    padding: 0.5rem;
    width: 100%;
}


.destaques__principal{
    background: url('../img/fortnite.jpg') center / cover no-repeat;
    grid-row: 1 / 3;
}

.destaques__secundario:nth-child(2) {
    background: url('../img/pubg.jpg') center / cover no-repeat;
}

.destaques__secundario:nth-child(3){
    background: url('../img/slack.png') center / cover no-repeat;
}

.destaques__secundario:nth-child(4){
    background: url('../img/whatsapp.png') center / cover no-repeat;
}

.destaques__secundario:nth-child(5){
    background: url('../img/cs-go.jpg') center / cover no-repeat;
}

.destaques__categorias{
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}

.destaques__categorias___lista{
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 100%;
}

.destaques__categorias___item{
    display: flex;
    align-items: center;
    background: #efefef;
    border: solid #CCCCCC 1px;
    padding: 1rem;

    
}


.destaques__categorias___link{
    color: #333333;
    
}