.app{
    background: #efefef;
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;

}

.cabecalho{
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.conteudo{
    grid-area: conteudo;
    padding: 0 2rem;

}

.rodape{
    grid-area: rodape;
    background-color: #fdfdfd;
    padding: 1rem;
    font-size: .9rem;
    text-align: center;

}